.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.log

node_modules/

.git/

.idea/
!**/src/main/**/out/
!**/src/test/**/out/

.vscode/
*.iml

*/node_modules/
**/*.md